<div class="divfooter">
    <div class="divbox">
        <img src="../../../assets/img/logoCnn.jpg" alt="">
        <div>
            <h3>Sobre nós</h3>
            <ul>
                <li>Quem Somos </li>
                <li>Expediente</li>
                <li>Parceiros</li>
            </ul>
        </div>

        <div>
            <h3>Contato</h3>
            <ul>
                <li>(11)99999-9999/ (11)99999-9999 </li>
                <li>email@hotmail.com</li>
            </ul>
        </div>

        <div class="divlocal">
            <h3>Localização</h3>
            <img src="../../../assets/icons/Sem Título-1.png" alt="" width="100px">

            <div class="icons-socialmedia">
                <img src="../../../assets/icons/whatsapp.png" alt="">
                <img src="../../../assets/icons/twitter.png" alt="">
                <img src="../../../assets/icons/linkedin.png" alt="">
            </div>
        </div>

        

    </div>
</div>

<div class="footer2">
    <div class="boxfooter">
        <h2>2022 Centro Norte Noticias - Todos os direitos reservados</h2>

        <div>
            <h2></h2>
            <img src="" alt="">
        </div>
    </div>
</div>
