<div class="div1">
    <div class="divheader">
        <img src="../../../assets/img/logoCnn.jpg" alt="img">
        <h2>Tudo o que você precisa saber sobre tudo o que importa.</h2>
        <div class="icons-socialmedia">
            <img src="../../../assets/icons/whatsapp.png" alt="">
            <img src="../../../assets/icons/twitter.png" alt="">
            <img src="../../../assets/icons/linkedin.png" alt="">
        </div>
    </div>
</div>

<div class="divbar">
    <ul class="lista">
        <li>Cidade</li>
        <li>Politica</li>
        <li>Economia</li>
        <li>Segurança</li>
        <li>Educação</li>
        <li>Esporte CNN</li>
        <li>Memória</li>
        <li>CNN Social</li>
        <li>Contato</li>
    </ul>
</div>