@import '~bootstrap/dist/css/bootstrap.min.css';
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap')